<header class="main-header">

    <!-- Logo -->
    <a href="index2.html" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><b>A</b>M</span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><b>App</b>Marelsa</span>
    </a>

    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
        <!-- Sidebar toggle button-->
        <a href="javascript:void(0)" class="sidebar-toggle" data-toggle="push-menu" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>
        <!-- Navbar Right Menu -->
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <!-- Messages: style can be found in dropdown.less-->
                
                <!-- Notifications: style can be found in dropdown.less -->
                
                <!-- Tasks: style can be found in dropdown.less -->
                
                <!-- User Account: style can be found in dropdown.less -->
                <li class="dropdown user user-menu" uib-dropdown class="dropdown pointer" ui-sref-active="active">
                    <a href="#" class="dropdown-toggle" uib-dropdown-toggle id="account-menu">

                        <span class="hidden-xs">Administrador</span>
                    </a>
                    <ul class="dropdown-menu">
                        <!-- User image -->
                        <li class="user-header">

                            <p> 
                                <small>Online</small>
                            </p>
                        </li>
                        <!-- Menu Body -->

                        <!-- Menu Footer-->
                        <li class="user-footer">
                            <div class="pull-left">
                                <a href="#" class="btn btn-default btn-flat">Profile</a>
                            </div>
                            <div class="pull-right">
                                <a href="#" class="btn btn-danger">Sign out</a>
                            </div>
                        </li>
                    </ul>
                </li>
                <li class="dropdown tasks-menu" ui-sref="home">
                    <!-- Menu Toggle Button -->
                    <a href="#">
                        <i class="fa fa-arrow-left"></i>
                    </a>

                </li>
                <li>
                    <a href="" id="login">
                        <span class="glyphicon glyphicon-log-in"></span>&nbsp;
                        <span>Sign in</span>
                    </a>
                </li>

            </ul>
        </div>
    </nav>
</header>