<aside class="main-sidebar posFixed">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar" style="height: auto;">
        <!-- Sidebar user panel -->
        <div class="user-panel" style="height: 60px">
            <div class="pull-left image">
            </div>
            <div class="pull-left info">
                <p>Administrador</p>
                <a><i class="fa fa-circle text-success"></i> Online</a>
            </div>
        </div>

        <!-- search form -->
        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search...">
                <span class="input-group-btn">
                    <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </form>
        <!-- /.search form -->

        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu tree" data-widget="tree">
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-building"></i>
                    <span class="hidden-sm">
                        Inmuebles
                    </span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>

                </a>
                <ul class="treeview-menu">
                    <li><a href="pages/layout/top-nav.html"><i class="glyphicon glyphicon-asterisk"></i> Nuevo Inmueble</a></li>
                    <li><a href="pages/layout/boxed.html"><i class="glyphicon glyphicon-asterisk"></i> Buscar Inmueble</a></li>
                    <li><a href="pages/layout/fixed.html"><i class="glyphicon glyphicon-asterisk"></i> Inmuebles Publicados</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="glyphicon glyphicon-user"></i>
                    <span class="hidden-sm">
                        Empleados
                    </span>
                    
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="src/app/dashboard/dashboard/empleado/empleado.component.html"><i class="glyphicon glyphicon-asterisk"></i> Registrar empleado</a></li>
                    <li><a href="pages/charts/morris.html"><i class="glyphicon glyphicon-asterisk"></i> Lista de empleados</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="glyphicon glyphicon-piggy-bank"></i>
                    <span class="hidden-sm">
                        Clientes
                    </span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="pages/UI/general.html"><i class="glyphicon glyphicon-asterisk"></i> Registrar Cliente</a></li>
                    <li><a href="pages/UI/icons.html"><i class="glyphicon glyphicon-asterisk"></i> Lista de Clientes</a></li>
                </ul>
            </li>         
           </ul>
    </section>
    <!-- /.sidebar -->
</aside>